@font-face {
    font-family: 'Raleway Ligth';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('../fonts/embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light Italic';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Medium Italic';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display BoldItalic';
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('../fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'Playfair Display Italic';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

.container{
    width: 1240px;
    margin: auto;
}

header{
    top: 0;
   width: 100%;
    z-index: 999;
    position: fixed;
    background-color: white;
}
.principal{
    
    display: flex;
    justify-content: space-between;
}
/* .cart-shop{
    background-color: red;
    width: 50px;
    height: 50px;
} */
.cabecalho{
    height: 150px;
    width: 100%;
    float: left;
    padding: 4% 3%;
    
}
.logo img{
    width: 200px;
    height: 100px;
    float: left;
    background-position: center center;

}
.icon-cart img{
    width: 80px;
    height: 70px;

    margin-right: 100px;


}
.navigation ul{
    margin-top: 35px;
}
.navigation ul li{
    float: left;
    margin: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: orangered;
    font-family: 'Raleway Medium';
    
    
    
}

 .hero-banner{
     
   
    width: 100%;
    height: 400px;
    position: relative;
    font-family: 'Playfair Display';
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),
    url("../images/banner-girl.png"),
    url("../images/flower-bkgd.jpg"); 
    background-position: left,center 50px,center;
    background-repeat: repeat,no-repeat,repeat;
    background-size: cover,contain,cover;

    
}

.hero-banner p{
    color: white;
    text-align: center;

    position: absolute;
    top: 145px;
    left: 535px;
    font-family:'Raleway Medium'; 
}
.hero-banner h2{
     color: white;
    text-align: center;
        font-family:'Playfair Display Regular';
    position: absolute;
    top: 155px;
    left: 500px;
    margin-top: 30px;
}

.hero-banner h2{
    font-size: 48px;
}
/******* about ******/
.about{
    
    margin:40px 0px;
    font-family: 'Raleway Ligth';
    text-align: center;
    font-size: 20px;
    padding: 5px;
    
}
.about h2{
   
    margin-bottom: 8px;
    font-family:'Playfair Display BoldItalic' ;
    font-size: 25px;
}
.about strong{
    
    font-style: normal;
    font-family: 'Playfair Display BoldItalic' ;
}

/********************************************
      shop grid
*********************************************/
.shop-grid{
    display: flex;
    
    flex-wrap: wrap;
    
   
}
.shop-grid >div{
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2px;
    
}

#mens{
     width: 47%;
    height: 250px;
    background: url("../images/mens-category.jpg")no-repeat;
    background-size: 100%;
}
#trends{
    width: 25%;
    height: 250px;
    
    background: url("../images/trends-category.jpg")no-repeat;
    background-size: 100%;
}
#glasses{
      width: 25%;
    height: 250px;
    
    background: url("../images/glasses-category.jpg")no-repeat;
    background-size: 100%;
}
#shop{
      width: 25%;
    height: 250px;
    
    background: url("../images/sale-category.jpg")no-repeat;
    background-size: 100%;
}
#bags{
     width: 25%;
    height: 250px;
    
    background: url("../images/bags-category.jpg") no-repeat;
    background-size: 100%;
}
#women{
      width: 47%;
    height: 250px;
    background: url("../images/womens-category.jpg") no-repeat;
    background-size: 100%;
}




/*****************************************************
                 featured 
 *
 ****************************************************/
 
 #title{
     
    margin:40px 0px;
    font-family: 'Playfair Display';
    font-style: italic;
    text-align: center;
    font-size: 30px;
    padding: 10px;
 }
#title strong{
font-style: normal;

    font-family:'Playfair Display Bold'; 
    
}
 .carousel{
     padding: 0;
     height: 450px;
     margin: auto;
 }
.carousel p, .carousel h2{
    margin: 5px;
}
 .carousel p{
     
     font-family: 'Raleway Medium';
     text-align: center;
     
 }
 .carousel h2{
     
     color: orangered;
     font-family:'Playfair Display Regular' ;
     text-align: center;


 }
 .carousel button{
     color: #fff;
     background: #000000;
     border-radius: 2em;
     margin-left: 115px;
     padding: 1em 3em;
     
 }

.shop-grid .shop-notice{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: content;
    font-size: 30px;
    color: white;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    

}



 /************************************************
                       updates 
 *****************************************************/
 .updates{

margin-top: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-family: 'Playfair Display';
    background:url("../images/wave-bkgd.jpg")no-repeat;
    background-size: 100%;
    background-position: bottom;
    
    
} 
 .section-sign{
    margin-top: 30px;
    width: 100%;
    color: white;
    
}
.updates h2{
    font-size: 40px;
    font-family:'Playfair Display Italic';
    
}
.updates strong{

    font-family: 'Playfair Display Bold';
}
.updates p{
    
    margin: 5px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-family:'Raleway Ligth'; 
    
}
.updates form{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em 3em;
    display: flex;
    justify-content: center;
}

#input-email{
    border-radius: 2em;
    width:400px;
    height: 40px;
}
#input-submit{
    border-radius: 2em;
    margin-bottom: 40px;
    width:100px;
    height:45px;
    margin-left: -102px;
    color: white;
    background: maroon;
    font-family: 'Raleway Ligth';
}
 
 /************************************************
                       footer
 *****************************************************/
footer{
    margin-top: 10px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    text-justify: auto;
    color: white;
    
    
}

.icons {

    margin: 5px;
    padding: 20px;
    font-family: 'Raleway Medium'; 
}
.icons i{
    
    padding: 5px;
}
.footer-text p{
    padding: 2px;
    font-family:'Playfair Display Regular'; 
}
.footer-text{
    
    padding: 20px;
    ;
}
.icons li{
    
    margin: 5px;
    padding: 2px;
    font-family: 'Raleway Medium'; 
}


@media screen and (max-width:480px){
    .container{
        width: 95%;
        
    }
       
.cart-shop{
    
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   margin-top: -80px;
}
#clicks{
    
     width: 30px;
     height: 30px;
    text-align: center;
     position: relative;
     line-height: 8vh;
}
    /* .cart-shop{
        margin-left: 240px;
        margin-top: -90px;
        margin-bottom: 30px;
        position: absolute;
        
    }
    
    #clicks{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 8vh;
    } */
.logo img{
    width:90px;
    height: 60px;
}
.icon-cart img{
    width: 40px;
    height: 60px;
    
 margin-left: -30px;

}

hr{
    
    position: relative;
    margin-top: -20px;
    width: 90%;

    }
.container{
    width:95%;
    margin: auto;
    
    }
    
.principal{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header{
    
    width: 100%;
    height: 100px;
}

.navigation ul{
    display: flex;
    margin-top: 75px;
    position: relative;

}
.navigation ul li{
    color: orangered;
    font-family:'Playfair Display Bold';
    text-transform: uppercase;
    font-size: 5px;

    
    

}

/* hero banner */
.hero-banner{ 
    margin-top: 20px;
    
}

.hero-banner p{
    color: white;
    text-align: center;
    position: absolute;
    top: 115px;
    left: 54px;
    font-family:'Raleway Medium'; 
}
.hero-banner h2{
     color: white;
    text-align: center;
    font-family:'Playfair Display Regular';
    position: absolute;
    top: 120px;
    left: 50px;
    margin-top: 30px;
    
}

.hero-banner h2{
    font-size: 40px;
}

 .about{
     margin-top: 5px;
     margin-bottom: 5px;
 }
 .about h2 {
     text-align: center;
     font-size: 15px;
     font-family: 'Playfair Display Italic';
     margin-bottom: 5px;
 }
 .about strong{
    font-family: 'Playfair Display BoldItalic';
 }
 .about p{
     text-align: center;
     font-size: 16px;
     font-family:  'Raleway Medium';
 }
 /****** shop grid *******************/
 
 .shop-grid{
    display: flex;
    flex-wrap: wrap;
    
   
}
.shop-grid >div{
    
    

    
    text-align: center;
    
    font-size: 20px;
    
}

 #mens{
     
    
     width: 100%;
     height: 200px;
     background-size: 100%;
 }
 #trends{

    background-size: 100%;
    width: 100%;
    height: 220px;
    margin-top: -60px;
    
 }
 #glasses{

    background-size: 100%;
    width: 100%;
    height: 220px;
    margin-top: 5px;
 }
 #shop{
    
    background-size: 100%;
    width: 100%;
    height: 220px;
    margin-top: 5px;
 }
 #bags{
    
    background-size: 100%;
    width: 100%;
    height: 220px;
    margin-top: 5px;

 }
 #women{

    width: 100%;
    background-size: 100%;
    
    height: 220px;
 }
 
.shop-grid .shop-notice{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: content;
    font-size: 20px;
    color: white;
    padding: 100px;
    font-family: 'Raleway Medium';
    
    

}
/*** carousel ****/
.carousel img{
    width: 90%;
    margin-left: 10px;
    position: relative;
}

/*********featured **************/
 
#title{
     
    margin-top: -90px;
    font-family: 'Playfair Display';
    font-style: italic;
    text-align: center;
    font-size: 30px;
 }
#title strong{
font-style: normal;
font-family:'Playfair Display Bold'; 
    
}
.carousel{
    width: 100%;
    height: 400px;
   
}
.carousel img{
    margin-left: 35px;
}
.carousel p, .carousel h2{
    text-align: center;
    margin: 5px;
}
.carousel button{
    display: none;
}
.carousel{
    padding: 0;
    height: 450px;
    margin: auto;
}

.carousel p{
    
    font-family: 'Raleway Medium';
    text-align: center;
    
}
.carousel h2{
    
    color: orangered;
    font-family:'Playfair Display Regular' ;
    text-align: center;


}
/******** updates ***********/

.updates{
    margin-bottom: 5px;
    margin-top: -100px;
}
.updates{
width: 100%;
height: 160px;
position: relative;
font-family: 'Playfair Display';
background-position: left,center ,center;
background-repeat: repeat,no-repeat,repeat;
background-size: cover,contain,cover;
    
}
.updates{
    width: 100%;
    
    display: flex;
    align-items: center;
   flex-direction: column;
   position: relative;
   margin-bottom: -10px;
   
}
.updates p{
    text-align: center;
    font-family: 'Raleway Medium';
    color: white;
    font-size: 12px;
    position: relative;
    margin-bottom: -10px;
    
}
.updates h2{
    font-size: 20px;
    color: white;
    font-family:'Playfair Display Italic';
}

#input-email{
    border-radius: 2em;
    width:150px;
    height: 20px;
    position: relative;
    margin-bottom: -10px;
}
#input-submit{
    border-radius: 2em;
    margin-bottom: 40px;
    width:70px;
    height:25px;
    margin-left: -40px;
    color: white;
    background: maroon;
    font-family: 'Raleway Ligth';
    position: relative;
    margin-bottom: -20px;
}
/***** footer ******/              

footer{
    background: black;
    color: white;
    font-family: 'Raleway Medium'; 
    height: 190px;
    font-size: 12px;
    position: relative;
 
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.icons ul{
    display: flex;
}
}
@media (min-width: 600px){

    body{
        
        width: 95%;
    }
    .principal{
        margin-top: 10px;
    }
    
.logo img{
    width:110px;
    height: 60px;
}
.icon-cart img{
    width: 80px;
    height: 60px;
    position: relative;
  
    margin-right:105px;

}
    


.cart-shop{
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
 }
 #clicks{
     position: relative;
    
margin-top: -80px;
     
     text-align: center;
      position: relative;
      line-height: 8vh;
      position: relative;
      margin-right: 100px;
 }
    
    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
   
    
    }
    hr{
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 1024px)  {

.container{
    width: 95%;
}
header{
    z-index: 999;
    width: 100%;
    background-color: white;
    position: fixed;
    margin-bottom: 0px;
}
.cart-shop{
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -90px;
    position: relative;
 }
 #clicks{
     position: relative;
     margin-top: -50px;
     
     text-align: center;
      position: relative;
      line-height: 8vh;
 }
 
hr{
    display: none;
}
.logo img{
    width:110px;
    height: 60px;
}
.icon-cart img{
    width: 45px;
    height: 50px;
    position: relative;
   
    margin-right:25px;

}


.container{
    width:95%;
    margin: auto;
    
    }
    
.principal{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 90px;
    
}


.navigation ul{
    display: flex;
    margin-top: 30px;
    position: relative;

}
.navigation ul li{
    color: orangered;
    font-family:'Playfair Display Bold';
    text-transform: uppercase;
    font-size: 10px;
    margin-top: -10px;

    
    

}

/* hero banner */
.hero-banner{ 
    margin-top: 20px;
    
    
}

.hero-banner p{
    color: white;
    text-align: center;
    position: absolute;
    top: 115px;
    left: 210px;
    font-family:'Raleway Medium'; 
}
.hero-banner h2{
     color: white;
    text-align: center;
    font-family:'Playfair Display Regular';
    position: absolute;
    top: 120px;
    left: 200px;
    margin-top: 20px;
    
}

.hero-banner h2{
    font-size: 40px;
}
/****** shop grid *******************/
 
.shop-grid{
    display: flex;
    flex-wrap: wrap;
    
   
}
.shop-grid >div{
    
    

    
    text-align: center;
    
    font-size: 20px;
    
}

 #mens{
     
    
     width: 100%;
     height: 200px;
     background-size: 100%;
 }
 #trends{

    background-size: 100%;
    width: 49%;
    height: 220px;
    
    
 }
 #glasses{

    background-size: 100%;
    width: 49%;
    height: 220px;
    
 }
 #shop{
    
    background-size: 100%;
    width: 49%;
    height: 220px;
    
 }
 #bags{
    
    background-size: 100%;
    width: 49%;
    height: 220px;
    

 }
 #women{

    width: 100%;
    background-size: 100%;
    height: 220px;
 }
 
.shop-grid .shop-notice{
    
    display: flex;
    justify-content: center;
    line-height: 220px;
    font-size: 20px;
    color: white; 
    font-family: 'Raleway Medium';
}

.updates{
    height: 180px;
}

.updates p{
    text-align: center;
    font-family: 'Raleway Medium';
    color: white;
    font-size: 12px;
    position: relative;
    margin-bottom: -10px;
    
}
.updates h2{
    font-size: 20px;
    color: white;
    font-family:'Playfair Display Italic';
}

#input-email{
    border-radius: 2em;
    width:200px;
    height: 30px;
    position: relative;
    margin-bottom: -10px;
}
#input-submit{
    border-radius: 2em;
    margin-bottom: 40px;
    width:75px;
    height:35px;
    margin-left: -40px;
    color: white;
    background: maroon;
    font-family: 'Raleway Ligth';
    position: relative;
    margin-bottom: -20px;
}
footer{
font-size: 15px;
}
}